@font-face {
  font-family: RampartOne;
  src: url("assets/fonts/RampartOne-Regular.ttf");
}

@font-face {
  font-family: Margarine;
  src: url("assets/fonts/Margarine-Regular.ttf");
}

@import "tailwindcss";

.font-rampart {
  font-family: "RampartOne", sans-serif;
}

.font-margarine {
  font-family: "Margarine", sans-serif;
}

@keyframes naikTurun {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.naik-turun{
    animation: naikTurun 2s ease-in-out infinite;
}
